<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <!-- <h1><%=`${boy} THIS IS MY HOMEPAGE.`%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magnam ad iste. Aperiam doloremque, eveniet sunt alias libero adipisci ullam officia ex optio ut neque maxime debitis ipsam ab dolor!
    Voluptate dolor harum reiciendis. Facilis a iure, iusto assumenda, obcaecati sed vel deleniti error vitae provident modi ipsa officiis pariatur ratione sunt minima explicabo corporis enim vero, ducimus magni facere!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni in nihil ipsam sequi officia dignissimos qui eligendi natus beatae! Repudiandae vitae ullam nihil, necessitatibus dolor vero aperiam sint eaque aliquid?</p> -->

    <h1>GET & POST REQUESTS</h1>
    <h2>GET</h2>
    <form action="http://localhost:3000/tacos" method="get">
        <input type="text" name="drink" id="">
        <input type="number" name="qty" id="">
        <button type="submit">submit</button>
    </form>

    <h2>POST</h2>

    <form action="http://localhost:3000/tacos" method="post">
        <input type="text" name="drink" id="">
        <input type="number" name="qty" id="">
        <button type="submit">submit</button>
    </form>

</body>
</html>